# Ignorando o arquivo 'package.json'
package.json

# Ignorando a pasta 'node'
node/*

# Ignorando o arquivo 'app.py'
django/app.py

# Ignorando o arquivo 'index.html'
django/paginas/inicial/index.html

# Ignorando a pasta 'usuario'
django/paginas/usuario/*


